* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.information-panel {
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.panel {
    width: 300px;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 5px solid coral;
    border-radius: 15px;
    padding: 10px;
}

#p1 {
    background-color: coral;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    padding: 0;
    top: 0;
    z-index: 30px;
}

#p2 {
    top: 110px;
    z-index: 20px;
}

#p3 {
    z-index: 10px;
    top: 220px;
}
#p4
{
    z-index: 0;
    top:330px;
}

.main {


    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}